
<div class="container">
    <aside class="sidebar">
      <div class="user-profile">
        <img [src]="getAvatar()" alt="Avatar do Usuário" class="avatar">
        <div class="user-info">
          <p class="user-name">Olá, {{ userName || 'Nome do usuário' }}!</p>
          <button class="logout-button" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </div>
      </div>
      
      <ul>
        <li>
          <button class="menu" (click)="navegarPara('/minha-lista')" [ngClass]="{'active': rotaAtiva('/minha-lista')}"><i class="fas fa-list"></i> Minhas Tarefas</button>
        </li>
        <li>
          <button class="menu" (click)="navegarPara('/meu-dia')" [ngClass]="{'active': rotaAtiva('/meu-dia')}"><i class="fas fa-calendar-day"></i>  Meu Dia</button>
        </li>
        <li>
          <button class="menu" (click)="navegarPara('/importante')" [ngClass]="{'active': rotaAtiva('/importante')}"><i class="fas fa-star"></i> Importante</button>
        </li>
        <li>
          <button class="menu" (click)="navegarPara('/atrasadas')" [ngClass]="{'active': rotaAtiva('/atrasadas')}"><i class="fa-solid fa-circle-exclamation"></i>  Atrasadas</button>
        </li>
      </ul>
  
      <app-tema></app-tema>
    </aside>
    
    <main class="content">
      <div class="listagem">
        <router-outlet></router-outlet>
      </div>
  
      
        <div class="incluir">
          <form  class="formulario">
            <div class="inputTarefa">
              <input type="text" id="descricao" name="descricao" class="inputDescricao" [(ngModel)]="descricao" required placeholder="Descreva a tarefa" >
              <input type="datetime-local" id="dataHora" name="dataHora" class="inputData" [(ngModel)]="dataHora" required >
              <div class="inputPrioridade"  (click)="toggleImportante()">
                <i [class.fa-regular]="!importante" [class.fa-solid]="importante" class="fa-star"></i>
              </div>
              <div class="submitTarefa" (click)="insertTarefa()"> 
                <i class="fas fa-paper-plane"></i>
              </div>
            </div>
          </form>
        </div>

      </main>
      
    

    
  </div>
  