.content {
  padding: 20px;
  width: calc(100% - 320px); 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  max-width: 100%;
}


.form-tarefa {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 73%;
  max-width: 1000px; 
  margin: 0px auto; 
  position: fixed; 
}


.input-text {
  width: 69%;
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  border: 1px solid #c0bebe;
  border-radius: 3px;
}


.input-date {
  width: 16%;
  padding: 9px;
  margin: 5px;
  font-size: 14px;
  border: 1px solid #c0bebe;
  border-radius: 3px;
}

/* Estilo dos botões de ícones */
.icon-button {
  margin: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.icon-button i {
  color: #828282;
  transition: color 0.3s;
}

.icon-button:hover i {
  color: #D47319;
}
